.queue-sub-title {
  color: #999;
  margin-bottom: 0;
}

.title {
  font-weight: bold;
  margin-top: 0;
  padding-top: 0;
}

.text-inside-grid {
  position: absolute;
  left: 5px;
  padding-top: 1em;
}

.table-row:hover {
  cursor: pointer;
  background: #eee;
}

@media (min-width: 600px) {
  /* Width for the artist, album and title columns */
  mat-cell:nth-child(2), mat-header-cell:nth-child(2),
  mat-cell:nth-child(3), mat-header-cell:nth-child(3) {
    flex: 0 0 25%
  }

  mat-cell:nth-child(4), mat-header-cell:nth-child(4) {
    flex-grow: 1;
  }

  /* Width for the # (number), 'remove item' and length columns */
  mat-cell:nth-child(1), mat-header-cell:nth-child(1),
  mat-cell:nth-child(5), mat-header-cell:nth-child(5),
  mat-cell:nth-child(6), mat-header-cell:nth-child(6) {
    flex: 0 0 5%;
  }
}

.playing {
  background: #eee;
  font-weight: bold;
}

@media (min-width: 600px) {
  .centered {
    /* top | right | bottom | left */
    padding: 5px 10% 0 10%;
  }
}

@media (min-width: 600px) {
  .clear-queue {
    float: right;
  }
}

.valign-top {
  vertical-align: top;
}

div.container {
  display: flex;
  margin-bottom: 10px;
  padding: 0px;
}

div.container > div {
  flex: 1 1 5em;
}

div.container > div:first-child {
  margin-left: 0;
}

.queue-btn {
  width: 100%;
}

.queue-btn:hover {
  background: #eee;
}

.album-art {
  height: 150px;
  width: 150px;
  float: right;
  border: 1px solid grey;
  cursor: pointer;
}

.mat-button-toggle-group {
  width: 100%;
}

.mat-button-toggle {
  width: 100%;
}

.mat-button-toggle:hover {
  cursor: pointer;
  background: #eee;
}

.mat-column-artist {
  color: #868e96 !important;
}

@media (max-width: 600px) {
  .mat-column-artist {
    /* 50% width on mobile devices */
    flex: 0 0 50%;
  }

  .mat-column-remove {
    /* Minimze the 'remove' button to save space */
    flex: 0 0 2.5rem;
  }

}

mat-cell:last-of-type, mat-footer-cell:last-of-type, mat-header-cell:last-of-type {
  padding-right: 1px !important;
}

.mat-column-remove {
  justify-content: flex-end;
}

.divide-space-up-down {
  padding: 0.3em 0px;
}

div.sub-menu {
  display: flex;
  margin-bottom: 1.5em;
  padding: 2px;
  justify-content: flex-start;
  align-items: flex-start;
}

.clear-queue-container{
  justify-content: flex-end;
  flex-grow:1;
}