<div class="centered">
  <app-queue-header
    [currentSong]="currentSong"
    [currentState]="currentState"
  ></app-queue-header>

  <div fxLayout="row wrap" fxLayoutAlign="space-between end">
    <div>
      <app-control-panel [controlPanel]="controlPanel"></app-control-panel>
    </div>
    <div>
      <app-mpd-modes [controlPanel]="controlPanel"></app-mpd-modes>
    </div>
  </div>

  <div class="space-divider"></div>

  <!-- Current track progress -->
  <app-track-progress [currentSong]="currentSong"></app-track-progress>

  <mat-divider></mat-divider>

  <!-- Volume slider -->
  <app-volume-slider [volume]="volume"></app-volume-slider>

  <div class="space-divider"></div>

  <!-- Track table -->
  <app-track-table [currentSong]="currentSong"></app-track-table>
</div>
