<div class="centered">
  <app-queue-header
    [currentSong]="currentSong"
    [currentState]="currentState"
  ></app-queue-header>

  <mat-divider class="divide-space-up-down"></mat-divider>

  <!-- Control buttons (play, pause, ...) -->
  <app-control-panel [controlPanel]="controlPanel"></app-control-panel>

  <mat-divider class="divide-space-up-down"></mat-divider>

  <!-- Current track progress -->
  <app-track-progress [currentSong]="currentSong"></app-track-progress>

  <mat-divider class="divide-space-up-down"></mat-divider>

  <!-- Volume slider -->
  <app-volume-slider [volume]="volume"></app-volume-slider>

  <mat-divider class="divide-space-up-down"></mat-divider>

  <!-- Control Panel -->
  <app-mpd-modes [controlPanel]="controlPanel"></app-mpd-modes>

  <mat-divider class="divide-space-up-down"></mat-divider>

  <!-- Track table -->
  <app-track-table [currentSong]="currentSong"></app-track-table>
</div>
