<span class="mat-display-1">
  Search
</span>

<mat-divider></mat-divider>

<div fxLayout="row wrap" fxLayoutAlign="start baseline">
  <div fxLayout="row nowrap" fxFlex="70%" fxFlex.lt-md="100%">
    <mat-form-field class="full-width">
      <input
          matInput
          placeholder="Type to search"
          autocomplete="off"
          type="text"
          [(ngModel)]="search"
          (keyup)="applySearch($event.target.value)"
      />
      <button
          mat-button
          *ngIf="search"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="search = ''; resetSearch()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div fxFlex="30%" fxLayoutAlign="end center">
    <span *ngIf="searchResultCount > 0" class="text-muted"> {{ searchResultCount }} results </span>
  </div>
</div>

<!-- Search results table -->
<table mat-table [dataSource]="dataSource" matSort matSortActive="artistName" matSortDisableClear>

  <ng-container matColumnDef="artistName">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Artist</th>
    <td mat-cell *matCellDef="let track" (dblclick)="onPlayTitle(track)">
      {{ track.artistName }}
    </td>
  </ng-container>

  <ng-container matColumnDef="albumName">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Album</th>
    <td mat-cell *matCellDef="let track" (dblclick)="onPlayTitle(track)">
      {{ track.albumName }}
    </td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let track" (dblclick)="onPlayTitle(track)">
      {{ track.title }}
    </td>
  </ng-container>

  <ng-container matColumnDef="length">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Length</th>
    <td mat-cell *matCellDef="let track" (dblclick)="onPlayTitle(track)">
      {{ track.length |secondsToMmSs }}
    </td>
  </ng-container>

  <ng-container matColumnDef="addTitle">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let track">
      <span (click)="onPlayTitle(track)" class="clickable chip">
        <mat-icon> play_arrow </mat-icon>
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="playTitle">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let track">
          <span (click)="onAddTitle(track)" class="clickable chip">
        <mat-icon> add </mat-icon>
      </span>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
  <tr
      mat-row
      *matRowDef="let row; columns: getDisplayedColumns()"
      class="table-row"
  ></tr>
</table>
<mat-paginator [pageSize]="25"
               [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>


<!-- Loading animation -->
<mat-spinner class="centered" *ngIf="spinnerVisible"></mat-spinner>