<span class="mat-display-1"> Search </span>

<mat-divider></mat-divider>

<div fxLayout="row wrap" fxLayoutAlign="start baseline">
  <div fxLayout="row nowrap" fxFlex="50%" fxFlex.lt-md="100%">
    <mat-form-field class="full-width">
      <input
        #searchInput
        [autofocus]="!isMobile"
        matInput
        placeholder="Type to search"
        autocomplete="off"
        type="text"
        [(ngModel)]="search"
        (keydown.escape)="search = ''; resetSearch()"
        (keyup)="applySearch($event.target)"
      />
      <button
        mat-button
        *ngIf="search"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="search = ''; resetSearch()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div
    *ngIf="searchResultCount > 0"
    fxLayout="row nowrap"
    fxFlex="50%"
    fxFlex.lt-md="100%"
    fxLayoutAlign="end center"
    fxLayoutGap="0.5rem"
  >
    <div>
      <span fxFlex class="text-muted">{{ searchResultCount }} results </span>
    </div>

    <!--Clear queue-->
    <button class="mat-small" mat-raised-button (click)="onClearQueue()">
      <mat-icon>delete</mat-icon>
      <span fxHide.lt-md> Clear queue </span>
    </button>

    <!--Add all-->
    <button class="mat-small" mat-raised-button (click)="onAddAll()">
      <mat-icon> add</mat-icon>
      <span fxHide.lt-md> Add all </span>
    </button>
  </div>
</div>

<!-- Search results table -->
<app-track-data-table
  *ngIf="searchResultCount > 0"
  [trackTableData]="trackTableData"
></app-track-data-table>

<!-- Loading animation -->
<div fxLayout="row" fxLayoutAlign="space-around">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
</div>
