<span class="mat-display-1">
  Search
</span>

<mat-divider></mat-divider>

<div fxLayout="row wrap" fxLayoutAlign="start baseline">
  <div fxLayout="row nowrap" fxFlex="70%" fxFlex.lt-md="100%">
    <mat-form-field class="full-width">
      <input
          matInput
          placeholder="Type to search"
          autocomplete="off"
          type="text"
          [(ngModel)]="search"
          (keydown.escape)="search = ''; resetSearch()"
          (keyup)="applySearch($event.target.value)"
      />
      <button
          mat-button
          *ngIf="search"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="search = ''; resetSearch()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div fxFlex="30%" fxLayoutAlign="end center">
    <span *ngIf="searchResultCount > 0" class="text-muted"> {{ searchResultCount }} results </span>
  </div>
</div>

<!-- Search results table -->
<app-track-data-table [trackTableData]="trackTableData"></app-track-data-table>

<!-- Loading animation -->
<mat-spinner class="centered" *ngIf="spinnerVisible"></mat-spinner>

<mat-divider fxHide.lt-md></mat-divider>

<span fxHide.lt-md class="text-muted">Click to add a track to the queue. Double-click to play it.</span>