<mat-button-toggle-group
    fxLayoutAlign="space-between"
    multiple
    *ngIf="mpdModesPanel"
    (change)="toggleCtrl($event.value)"
>
  <mat-button-toggle
      value="random"
      [checked]="mpdModesPanel.random"
      (change)="mpdModesPanel.random = $event.source.checked"
      title="Toggle with 'z'"
  >
    <mat-icon>
      shuffle
    </mat-icon>
    <span fxHide.lt-md>
      random
    </span>
  </mat-button-toggle>
  <mat-button-toggle
      value="consume"
      [checked]="mpdModesPanel.consume"
      (change)="mpdModesPanel.consume = $event.source.checked"
      title="Toggle with 'R'"
  >
    <mat-icon>
      whatshot
    </mat-icon>
    <span fxHide.lt-md>
      consume
    </span>
  </mat-button-toggle>
  <mat-button-toggle
      value="single"
      [checked]="mpdModesPanel.single"
      (change)="mpdModesPanel.single = $event.source.checked"
      title="Toggle with 'y'"
  >
    <mat-icon>
      star_border
    </mat-icon>
    <span fxHide.lt-md>
      single
    </span>
  </mat-button-toggle>
  <mat-button-toggle
      value="crossfade"
      [checked]="mpdModesPanel.crossfade"
      (change)="mpdModesPanel.crossfade = $event.source.checked"
      title="Toggle with 'x'"
  >
    <mat-icon>
      compare_arrows
    </mat-icon>
    <span fxHide.lt-md>
      crossfade
    </span>
  </mat-button-toggle>
  <mat-button-toggle
      value="repeat"
      [checked]="mpdModesPanel.repeat"
      (change)="mpdModesPanel.repeat = $event.source.checked"
      title="Toggle with 'r'"
  >
    <mat-icon>
      repeat
    </mat-icon>
    <span fxHide.lt-md>
      repeat
    </span>
  </mat-button-toggle>
</mat-button-toggle-group>
