# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: "maven" # See documentation for possible values
    directory: "/" # Location of package manifests
    schedule:
      interval: "monthly"
  - package-ecosystem: "npm" # See documentation for possible values
    directory: "/angularclient" # Location of package manifests
    schedule:
      interval: "monthly"
    ignore:
      - dependency-name: "@angular/*"
  - package-ecosystem: "docker" # See documentation for possible values
    directory: "/docker" # Location of package manifests
    schedule:
      interval: "monthly"
