<div class="sub-menu">
  <div class="flex-item">
    <span class="list-header mat-h3">Playlists</span>
  </div>
</div>

<mat-list
  role="list"
  *ngFor="let playlist of playlistQueue | playlistFilter: filterValue"
  (click)="onClickPlaylist(playlist)"
>
  <mat-list-item role="listitem" class="list-item">
    <mat-icon>list</mat-icon> &nbsp;
    {{ playlist.name }}
    <span class="fill-space"></span>
    <span class="text-muted">
      {{ playlist.count }}
    </span>
  </mat-list-item>
</mat-list>
