<div *ngIf="(playlists| playlistFilter: filterValue).length">
  <div class="sub-menu">
    <span class="mat-h3">Playlists</span>
  </div>

  <div *ngFor="let playlist of playlists | playlistFilter: filterValue">
    <div (click)="onRowClick(playlist.name)"
         fxLayout="row nowrap"
         fxLayoutGap="1%"
         fxLayoutAlign="center center"
         class="list-item"
         title="Click to add this playlist"
    >

      <mat-icon>list</mat-icon> &nbsp;
      <div fxFlex class="dont-break-out">
        {{ playlist.name }}
      </div>
      <div class="text-muted space-right" title="{{ playlist.count }} tracks in this playlist">
        {{ playlist.count }}
      </div>
      <button class="mat-small" mat-button
              title="Click to show playlist: {{playlist.name}}"
              (click)="onPlaylistInfo($event, playlist)"
      >
        <mat-icon>info</mat-icon>
      </button>
    </div>
  </div>
</div>
