<div class="mat-h3 text-muted">
  <div fxLayout="row" fxLayoutGap="0.5rem" fxLayoutAlign="baseline center">
    <mat-icon>folder_open</mat-icon>
    <div>Playlists</div>
  </div>
</div>

<app-virtual-scroll-playlists [playlists]="playlists"
    *ngIf="(virtualScroll|async) else conventionalScroll"></app-virtual-scroll-playlists>

<ng-template #conventionalScroll>
  <div *ngFor="let playlist of playlists | playlistFilter: filterValue">
    <app-playlist-entry [playlist]="playlist"></app-playlist-entry>
  </div>
</ng-template>
