!.mvn/wrapper/maven-wrapper.jar
!/.mvn/wrapper/maven-wrapper.jar
*.class
*.ctxt
*.ear
*.iml
*.ipr
*.iws
*.jar
*.log
*.nar
*.pid
*.pid.lock
*.rar
*.seed
*.swp
*.tar.gz
*.tgz
*.war
*.zip
.DS_Store
.apt_generated
.cache
.classpath
.env
.eslintcache
.factorypath
.grunt
.idea
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources.xml
.idea/**/dataSources/
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/workspace.xml
.idea/dictionaries
.idea/replstate.xml
.idea_modules/
.lock-wscript
.mtj.tmp/
.mvn/
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.nb-gradle/
.next
.node_repl_history
.npm
.nuxt
.nyc_output
.serverless
.settings
.springBeans
.vuepress/dist
.yarn-integrity
atlassian-ide-plugin.xml
bower_components
build/
build/Release
buildNumber.properties
cmake-build-debug/
com_crashlytics_export_strings.xml
coverage
crashlytics-build.properties
crashlytics.properties
dependency-reduced-pom.xml
dist/
fabric.properties
hs_err_pid*
jspm_packages/
lib-cov
logs
nbbuild/
nbdist/
nbproject/private/
node_modules/
npm-debug.log*
out/
pids
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release.properties
src/main/resources/static/*
target
target/
typings/
yarn-debug.log*
yarn-error.log*
spotbugs.xml
!.mvn/wrapper/maven-wrapper.jar
!/.mvn/wrapper/maven-wrapper.jar
*.class
*.ctxt
*.ear
*.iml
*.ipr
*.iws
*.jar
*.log
*.nar
*.pid
*.pid.lock
*.rar
*.seed
*.swp
*.tar.gz
*.tgz
*.war
*.zip
.DS_Store
.apt_generated
.cache
.classpath
.env
.eslintcache
.factorypath
.grunt
.idea
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources.xml
.idea/**/dataSources/
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/workspace.xml
.idea/dictionaries
.idea/replstate.xml
.idea_modules/
.lock-wscript
.mtj.tmp/
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.nb-gradle/
.next
.node_repl_history
.npm
.nuxt
.nyc_output
.project
.serverless
.settings
.springBeans
.vuepress/dist
.yarn-integrity
atlassian-ide-plugin.xml
bower_components
build/
build/Release
buildNumber.properties
cmake-build-debug/
com_crashlytics_export_strings.xml
coverage
crashlytics-build.properties
crashlytics.properties
dependency-reduced-pom.xml
dist/
fabric.properties
hs_err_pid*
jspm_packages/
lib-cov
logs
nbbuild/
nbdist/
nbproject/private/
node_modules/
npm-debug.log*
out/
pids
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release.properties
target
target/
typings/
yarn-debug.log*
yarn-error.log*
spotbugs.xml
lint-results.xml
environment.prod.ts
application-dev.properties
application-prod.properties
ampd.log*
javampd
checkstyle-result.xml
