###########################################################
### Welcome to Beautiful Jekyll!
### This config file is meant for settings that affect your entire website. When you first
### set up your website you should go through all these settings and edit them, but after
### the initial set up you won't need to come back to this file often.
###########################################################

############################
# --- Required options --- #
############################

# Name of website
title: ampd

# Your name to show in the footer
author: rain0r

# Output options (more information on Jekyll's site)
timezone: "Europe/Berlin"
markdown: GFM
highlighter: rouge