<div
  *ngIf="payload.albums.length > 0; else noAlbums"
  fxLayout="column"
  fxLayoutGap="1rem"
>
  <div
    fxLayout="row wrap"
    fxLayout.lt-md="column"
    fxLayoutAlign="space-between"
    fxLayoutAlign.lt-md="center center"
    fxLayoutGap="1rem grid"
    fxLayoutGap.lt-md="1rem"
  >
    <div
      fxFlex
      fxFlex.lt-md="100%"
      fxLayoutAlign="center center"
      *ngFor="let album of payload.albums | slice: paginationFrom:paginationTo"
    >
      <app-album-item fxFlex.lt-md="100%" [album]="album"></app-album-item>
    </div>
  </div>

  <mat-paginator
    *ngIf="payload.albums.length > 0"
    [length]="payload.albums.length"
    (page)="getPaginatorData($event)"
    showFirstLastButtons="true"
  >
  </mat-paginator>
</div>
<ng-template #noAlbums>No albums found.</ng-template>
