<app-browse-navigation [filterDisabled]="true"></app-browse-navigation>

<div class="page-title">Genres</div>

<div class="flex flex-col md:flex-row md:flex-wrap gap-4">
  @for (genre of genres | async; track genre) {
    <a
      [queryParams]="{ genre: genre }"
      [routerLink]="['/browse-genres']"
      class="genre"
      color="primary"
      mat-stroked-button
      data-cy="genre"
    >
      {{ genre }}
    </a>
  }
</div>

<div id="results" class="mt-10">
  @if (genrePayload | async; as payload) {
    <div>
      <h1 class="my-4 heading-2">Genre: {{ payload.genre }}</h1>
      <mat-tab-group
        dynamicHeight
        [(selectedIndex)]="selectedIndex"
        (selectedTabChange)="scrollDown()"
      >
        <!-- Albums -->
        <mat-tab label="Albums">
          @if (payload.albums.content.length > 0) {
            <div class="pt-1 md:pt-9">
              <div class="grid grid-cols-1 md:grid-cols-5 gap-x-5">
                @for (album of payload.albums.content; track album) {
                  <app-album-item [album]="album"></app-album-item>
                }
              </div>
              @if (payload.albums.totalPages > 1) {
                <mat-paginator
                  [length]="payload.albums.totalElements"
                  [pageIndex]="payload.albums.number"
                  [pageSize]="payload.albums.numberOfElements"
                  (page)="handlePage($event)"
                  showFirstLastButtons="true"
                >
                </mat-paginator>
              }
            </div>
          } @else {
            <div class="pt-8">No albums found.</div>
          }
        </mat-tab>
        <!-- Tracks -->
        <mat-tab label="Tracks">
          @if (payload.tracks.content.length > 0) {
            <div class="pt-1 md:pt-9">
              @if (payload) {
                <app-track-data-table
                  [trackTableData]="trackTableData"
                ></app-track-data-table>
              }
            </div>
          } @else {
            <div class="not-found">No tracks found.</div>
          }
        </mat-tab>
      </mat-tab-group>
    </div>
  }
</div>
