.genre {
  /* top | right | bottom | left */
  margin: 0.5rem 0 0.5rem 0;
}

#results {
  padding-top: 2.5rem;
}

.genre-header {
  /* top | right | bottom | left */
  padding: 1.5rem 0 1.5rem 0;
}

html {
  scroll-behavior: smooth;
}
