<div class="sub-menu">
  <div class="flex-item">
    <h3 class="list-header">{{ getParamDir }}</h3>
  </div>
</div>

<mat-list
  role="list"
  *ngFor="let dir of dirQueue"
  class="browse-list"
  (click)="onDirClick(dir.path)"
>
  <mat-list-item role="listitem" class="list-item">
    <mat-icon>folder_open</mat-icon> &nbsp; &nbsp;
    {{ dir.displayedPath() }}
    <span class="fill-space"></span>
    <mat-icon class="chip" (click)="onPlayDir(dir.path)" title="Play directory">
      play_arrow
    </mat-icon>
    <mat-icon
      class="chip"
      (click)="onAddDir(dir.path)"
      title="Add directory to queue"
    >
      add
    </mat-icon>
  </mat-list-item>
</mat-list>

<div fxLayout="row" fxLayout.xs="column">
  <div *ngFor="let dir of dirQueue">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <a href="{{ coverServer }}/cover?path={{ dir.path }}">foo</a>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>

  </div>
</div>