@import '../browse.component.css';

.example-card {
    max-width: 200px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}
