@import '../browse.component.scss';

.cover-card {
  max-width: 200px;
  margin-left: 0;
  margin-right: 1rem;
  cursor: pointer;
}

.dir-text {
  margin-left: 0.5rem;
}

.cover-grid {
  margin-top: 1rem;
}