<div *ngIf="currentPlay | async as play">
  <div fxLayout="row wrap" fxLayoutAlign="center" *ngIf="play.state === 'stop'">
    <span class="mat-display-1"> Stopped. </span>
  </div>

  <div fxLayout="row wrap" fxLayoutAlign="space-between start">
    <div fxFlex="1 0 55%" fxLayout="column" *ngIf="play.state !== 'stop'">
      <div class="mat-h2 queue-sub-title" fxFlex="100%">
        <a
          class="no-deco-links"
          [routerLink]="['browse']"
          [queryParams]="{ dir: currentPathLink }"
          *ngIf="play.track.title; else trackFile"
          [class.text-muted]="play.state === 'pause'"
          title="Go to the directory containing this track"
        >
          {{ play.track.title }}
        </a>
        <ng-template #trackFile>
          {{ play.track.file }}
        </ng-template>
      </div>
      <mat-divider *ngIf="play.track.title"></mat-divider>
      <div class="mat-h3 queue-sub-title" *ngIf="play.track.albumName">
        <a
          class="no-deco-links text-muted"
          [routerLink]="['browse']"
          title="Go to the directory containing this track"
          [queryParams]="{ dir: currentPathLink }"
        >
          {{ play.track.albumName }}
        </a>
        <mat-divider></mat-divider>
      </div>
      <div class="mat-h3 queue-sub-title">
        <a
          class="no-deco-links"
          [routerLink]="['browse']"
          [queryParams]="{ dir: currentPathLink }"
          title="Go to the directory containing this track"
          [class.text-muted]="play.state === 'pause'"
        >
          {{ play.track.artistName }}
        </a>
      </div>
    </div>
    <div fxLayoutAlign="end center">
      <mat-divider fxShow.lt-md="true" fxShow="false"></mat-divider>
      <app-cover-image
        [track]="play.track"
        [state]="play.state"
      ></app-cover-image>
    </div>
  </div>
</div>

<mat-divider></mat-divider>
