<div fxLayout="row wrap" fxLayoutAlign="center"
     *ngIf="currentState === 'stop' || !currentSong else queueHeader">
  <span class="mat-display-1">
    Stopped.
  </span>
</div>

<ng-template #queueHeader>
  <div
      fxLayout="row wrap"
      fxLayoutAlign="space-between start"
      *ngIf="currentState !== 'stop'"
  >
    <div fxFlex="1 0 55%" fxLayout="column">
      <div class="mat-h2 queue-sub-title" fxFlex="100%" title="Title: {{currentSong.title}}">
        <a class="no-deco-links" [routerLink]="['browse']" [queryParams]="{'dir': currentSong.dir}">
        {{ currentSong.title }}
        </a>
      </div>
      <div
          class="mat-h2 queue-sub-title text-muted"
          *ngIf="currentSong.albumName"
          title="Album: {{currentSong.albumName}}"
      >
        <a class="no-deco-links" [routerLink]="['browse']" [queryParams]="{'dir': currentSong.dir}">
        {{ currentSong.albumName }}
        </a>
      </div>
      <div class="mat-h2 queue-sub-title" title="Artist: {{currentSong.artistName}}">
        <a class="no-deco-links" [routerLink]="['browse']" [queryParams]="{'dir': currentSong.dir}">
        {{ currentSong.artistName }}
        </a>
      </div>
    </div>
    <div fxLayoutAlign="end center" *ngIf="isDisplayCover|async">
      <mat-divider
          fxShow.lt-md="true"
          fxShow="false"
      ></mat-divider>
      <img
          [src]=" currentSong.coverUrl "
          class="album-art clickable"
          [ngClass]="[coverSizeClass|async]"
          (click)="openCoverModal()"
      />
    </div>
  </div>
</ng-template>

<mat-divider></mat-divider>