.queue-sub-title {
  color: #999;
  margin-bottom: 0;
}

div.container {
  display: flex;
  margin-bottom: 10px;
  padding: 0px;
}

div.container > div {
  flex: 1 1 5em;
}

div.container > div:first-child {
  margin-left: 0;
}

.album-art {
  border: 1px solid grey;
  cursor: pointer;
  float: right;
  height: 150px;
  width: 150px;
}

.title {
  font-weight: bold;
  margin-top: 0;
  padding-top: 0;
}
