.queue-sub-title {
  margin-bottom: 0;
}

.album-art {
  border: 1px solid grey;
  cursor: pointer;
  height: 150px;
  width: 150px;
}

.title {
  font-weight: bold;
  margin-top: 0;
  padding-top: 0;
}

