<div
  *ngIf="directory !== null"
  fxLayout="row nowrap"
  fxLayoutAlign="space-between center"
  fxLayoutGap="0.25rem"
  class="list-item"
  [queryParams]="{ dir: pathLink }"
  [routerLink]="['/browse']"
  [title]="'Go to directory: ' + directory.path"
>
  <mat-icon>folder_open</mat-icon>
  <div fxFlex class="name">
    {{ directory.displayedPath }}
  </div>
  <button
    mat-button
    title="Play directory"
    (click)="onPlayDir($event, directory.path)"
  >
    <mat-icon> play_arrow</mat-icon>
  </button>
  <button
    mat-button
    title="Add directory to queue"
    (click)="onAddDir($event, directory.path)"
  >
    <mat-icon> add</mat-icon>
  </button>
</div>
