<div
  [queryParams]="{ dir: pathLink }"
  [routerLink]="['/browse']"
  [title]="'Go to directory: ' + directory.path"
  *ngIf="directory !== null"
  class="browse-list-item"
>
  <mat-icon>folder_open</mat-icon>
  <div class="name break-all">
    {{ directory.displayedPath }}
  </div>
  <div class="flex-grow"></div>
  <button
    mat-button
    title="Play directory"
    (click)="onPlayDir($event, directory.path)"
  >
    <mat-icon> play_arrow</mat-icon>
  </button>
  <button
    (click)="onAddDir($event, directory.path)"
    mat-button
    title="Add directory to the queue"
  >
    <mat-icon> add</mat-icon>
  </button>
</div>
