<div fxLayout="column" style="height: 100%">
  <div mat-dialog-content fxFlex="100%" fxLayout="column" style="height: 100%">
    <div fxLayout="row wrap">
      {{ data.artistName }}
      <span *ngIf="data.albumName">— {{ data.albumName }}</span> —
      {{ data.title }}
    </div>

    <mat-divider></mat-divider>
    <img loading="lazy" src="{{ data.coverUrl }}" alt="Cover" />
  </div>

  <div mat-dialog-actions fxLayout="row nowrap">
    <button
      *ngIf="(backendSettings | async)?.mbCoverService"
      mat-stroked-button
      (click)="onBlacklistCover()"
    >
      Blacklist
    </button>
    <a mat-stroked-button href="{{ data.coverUrl }}" target="_blank">Open</a>
    <button mat-stroked-button mat-dialog-close="">Close</button>
  </div>
</div>
