.virtual-scroll-viewport {
  height: 90vh;
}

.list-item {
  font-size: larger;
  margin-bottom: 0.65rem;
  padding: 0.5rem;
  background: var(--second-background-color);
}

.list-item:hover {
  cursor: pointer;
  background: var(--hover-background-color);
}