.browse-list {
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.browse-list-item {
  color: black;
  text-decoration: none;
}

.browse-list:hover {
  background: #eeee;
  cursor: pointer;
}

.breadcrumb {
  color: black;
  padding-left: 0.5em;
}

.breadcrumb:hover {
  text-decoration: underline;
}

.title-length {
  float: right;
}

.clear-queue {
  background: #eee;
  margin-top: 1em;
  width: 100%;
}

.list-item:hover {
  background: #eee;
}

.mat-standard-chip {
  padding: 0px !important;
}

.playlist-count {
  float: right;
}

.dir-list-cover {
  border: 1px solid silver;
  max-height: 48px;
  padding: 2em;
}

#breadcrumb-container {
  margin-top: 1em;
}

sub-menu {
  align-items: baseline;
  background: white;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

.flex-item {
  align-items: stretch;
  box-sizing: border-box;
  flex: 1;
  padding-top: 1em;

  background: yellow;
  border: 1px solid silver;
}

@media screen and (max-width: 990px) {
  .container {
    flex-wrap: wrap;
  }
  .flex-item:first-child {
    flex-basis: 100%;
  }
}

.list-header {
  color: black;
  padding-left: 0.5em;
}

.mat-small {
  min-width: 1%;
}

.fill-space {
  flex: 1 1 auto;
}
