<div
  id="breadcrumb-container"
  class="container"
  fxLayout="row"
  fxLayout.xs="column"
  fxLayoutWrap
  fxLayoutGap="0.5%"
  fxLayoutAlign="center"
>
  <div fxFlex="100%">
    <div class="sub-menu">
      <div class="flex-item">
        <span class="list-header">
          <span *ngFor="let elem of breadcrumb">
            &#47;
            <a
              [routerLink]="['/browse']"
              [queryParams]="{ dir: elem.link }"
              class="breadcrumb"
              >{{ elem.text }}</a
            >&nbsp;
          </span>
        </span>
      </div>
      <div class="flex-item">
        <a routerLink="/browse" mat-raised-button class="mat-small">
          <i class="material-icons">expand_less</i>
          Return to top
        </a>
        <button class="mat-small" mat-raised-button (click)="onClearQueue()">
          <i class="material-icons clickable">delete</i>
          Clear queue
        </button>
      </div>
    </div>
  </div>
</div>

<mat-divider></mat-divider>

<div
  class="container"
  fxLayout="row"
  fxLayout.xs="column"
  fxLayoutWrap
  fxLayoutGap="0.5%"
  fxLayoutAlign="center"
>
  <!-- playlists -->
  <div fxFlex="{{ containerWidth }}" *ngIf="playlistQueue.length > 0">
    <div class="sub-menu">
      <div class="flex-item">
        <h3 class="list-header">Playlists</h3>
      </div>
    </div>

    <mat-list
      role="list"
      *ngFor="let playlist of playlistQueue"
      class="browse-list"
      (click)="onClickPlaylist(playlist)"
    >
      <mat-list-item role="listitem" class="list-item">
        <mat-icon>list</mat-icon> &nbsp;
        {{ playlist.name }}
        <span class="fill-space"></span>
        <span class="text-muted">
          {{ playlist.count }}
        </span>
      </mat-list-item>
    </mat-list>
  </div>

  <!-- directories -->
  <div fxFlex="{{ containerWidth }}" *ngIf="dirQueue.length > 0">
    <div class="sub-menu">
      <div class="flex-item">
        <h3 class="list-header">Directories</h3>
      </div>
      <div class="flex-item">
        <button
          class="mat-small"
          mat-raised-button
          (click)="moveDirUp()"
          *ngIf="getParamDir && getParamDir !== '/'"
        >
          <i class="material-icons">
            navigate_before
          </i>
          Return
        </button>
        <button
          class="mat-small"
          mat-raised-button
          (click)="onAddDir(getParamDir)"
          *ngIf="getParamDir && getParamDir !== '/'"
        >
          <i class="material-icons clickable"> add </i>
          Add all
        </button>
      </div>
    </div>

    <mat-list
      role="list"
      *ngFor="let dir of dirQueue"
      class="browse-list"
      (click)="onDirClick(dir.path)"
    >
      <mat-list-item role="listitem" class="list-item">
        <!--<img-->
        <!--(error)="updateUrl($event)"-->
        <!--[src]="dir.getAlbumCover()"-->
        <!--class="dir-list-cover"-->
        <!--/>-->

        <mat-icon>folder_open</mat-icon> &nbsp; &nbsp;

        {{ dir.displayedPath() }}

        <span class="fill-space"></span>
        <i
          class="material-icons clickable chip"
          (click)="onPlayDir(dir.path)"
          title="Play directory"
        >
          play_arrow
        </i>
        <i
          class="material-icons clickable chip"
          (click)="onAddDir(dir.path)"
          title="Add directory to queue"
        >
          add
        </i>
      </mat-list-item>
    </mat-list>
  </div>

  <!-- tracks -->
  <div fxFlex="{{ containerWidth }}%" *ngIf="titleQueue.length > 0">
    <div class="sub-menu">
      <div class="flex-item">
        <h3 class="list-header">Tracks</h3>
      </div>
      <div class="flex-item">
        <button
          class="mat-small"
          mat-raised-button
          (click)="moveDirUp()"
          *ngIf="getParamDir && getParamDir !== '/'"
        >
          <i class="material-icons">
            navigate_before
          </i>
          Return
        </button>
        <button
          class="mat-small"
          mat-raised-button
          (click)="onAddDir(getParamDir)"
          *ngIf="getParamDir && getParamDir !== '/'"
        >
          <i class="material-icons clickable"> add </i>
          Add all
        </button>
      </div>
    </div>

    <mat-list
      role="list"
      *ngFor="let song of titleQueue"
      class="browse-list"
      (click)="onTitleAdd(song)"
    >
      <mat-list-item role="listitem" class="list-item">
        <mat-icon>audiotrack</mat-icon> &nbsp;
        <span class="text-muted space-right"> &#35;{{ song.track }} </span>
        {{ song.title }} &nbsp;
        <span class="text-muted">{{ song.length | secondsToMmSsPipe }}</span>
        <span class="fill-space"></span>
        <i
          class="material-icons clickable chip"
          (click)="onPlayTitle(song)"
          title="Play track"
        >
          play_arrow
        </i>
        <i
          class="material-icons clickable chip"
          (click)="onAddTitle(song)"
          title="Add track to queue"
        >
          add
        </i>
      </mat-list-item>
    </mat-list>
  </div>
</div>
