<app-navigation></app-navigation>

<mat-divider></mat-divider>

<div fxShow.sm="true" fxShow.gt-md="false" fxShow="true">
  <div class="back-to-top">
    <button mat-icon-button (click)="onBackToTop()">
      <mat-icon>
        arrow_upward
      </mat-icon>
    </button>
  </div>
</div>

<div
  class="container"
  fxLayout="row"
  fxLayout.xs="column"
  fxLayoutWrap
  fxLayoutGap="0.5%"
  fxLayoutAlign="center"
>
  <!-- playlists -->
  <div
    fxFlex="{{ browseService.calculateContainerWidth() }}%"
    *ngIf="browseInfo.playlistQueue.length > 0"
  >
    <app-playlists [playlistQueue]="browseInfo.playlistQueue"></app-playlists>
  </div>

  <!-- directories -->
  <div
    fxFlex="{{ browseService.calculateContainerWidth() }}%"
    *ngIf="browseInfo.dirQueue.length > 0"
  >
    <app-directories [dirQueue]="browseInfo.dirQueue"></app-directories>
  </div>

  <!-- tracks -->
  <div
    fxFlex="{{ browseService.calculateContainerWidth() }}%"
    *ngIf="browseInfo.trackQueue.length > 0"
  >
    <app-tracks [titleQueue]="browseInfo.trackQueue"></app-tracks>
  </div>
</div>


