.browse-list {
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.browse-list:hover {
  background: #eeee;
  cursor: pointer;
}

.title-length {
  float: right;
}

.clear-queue {
  background: #eee;
  margin-top: 1em;
  width: 100%;
}

.list-item:hover {
  background: #eee;
}

@media screen and (max-width: 990px) {
  .container {
    flex-wrap: wrap;
  }
  .flex-item:first-child {
    flex-basis: 100%;
  }
}

.list-header {
  color: black;
  padding-left: 0.5em;
}

.fill-space {
  flex: 1 1 auto;
}

.back-to-top {
  position: fixed;
  bottom: 0;
  right: 0;
  overflow: hidden;
  z-index: 10;
  opacity: 0.4;
  border: 1px solid black;
  background-color: #e0e0e0;
  border-radius: 24px;
  display: inline-flex;
  padding: 0 !important;
  margin-left: 0.4rem;
}
