.title-length {
  float: right;
}

.clear-queue {
  margin-top: 1rem;
  width: 100%;
}

.sub-menu {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.list-header {
  padding: 0.5rem;
}

.fill-space {
  flex: 1 1 auto;
}

.centered {
  left: 40%;
}