.mat-column-action {
  text-align: right;
  width: 1%;
}

.mat-column-remove {
  text-align: right;
  width: 1%;
}


.mat-column-playTitle{
  text-align: right;
  width: 1% !important;
}

.mat-column-addTitle {
  text-align: right;
  width: 1% !important;
}

.mobile {
  font-size: smaller;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.mat-column-playTitle, .mat-column-addTitle {
  text-align: right;
}

table {
  width: 100%;
}

table td, table td * {
  vertical-align: center;
}

.ellipsis {
  font-size: smaller;
  position: relative;
}

.ellipsis:before {
  content: '&nbsp;';
  visibility: hidden;
}

.ellipsis span {
  position: absolute;
  left: 0;
  right: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
