@use "@angular/material" as mat;

@include mat.core();

$dark-primary-palette: mat.define-palette(mat.$blue-grey-palette, 500);
$dark-accent-palette: mat.define-palette(mat.$orange-palette, A400, A100, A700);
$dark-warn-palette: mat.define-palette(mat.$red-palette);

$dark-elem-bg: #424242;

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary-palette,
      accent: $dark-accent-palette,
      warn: $dark-warn-palette,
    ),
  )
);

// Apply the dark theme by default
@include mat.all-component-themes($dark-theme);

.mat-accent {
  color: mat.get-color-from-palette($dark-accent-palette) !important;
}
