@use "@angular/material" as mat;

@include mat.core();

$primary-palette: mat.define-palette(mat.$blue-grey-palette, 500);
$accent-palette: mat.define-palette(mat.$orange-palette, A400, A100, A700);
$warn-palette: mat.define-palette(mat.$red-palette);

$accent-color: #ff9100;
$body-background-color: #303030;
$border-color: #868e96;
$hover-background-color: #607d8b;
$primary-text: #fff;
$second-background-color: #424242;

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $primary-palette,
      accent: $accent-palette,
      warn: $warn-palette,
    ),
  )
);

@include mat.all-component-themes($dark-theme);

:root {
  --accent-color: #{$accent-color};
  --body-background-color: #{$body-background-color};
  --border-color: #{$border-color};
  --hover-background-color: #{$hover-background-color};
  --primary-text: #{$primary-text};
  --second-background-color: #{$second-background-color};
}
