<mat-card>
  <mat-card-header>
    <mat-card-title>MPD server</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>{{ mpdServer }}</mat-label>
      <input matInput disabled />
      <mat-hint> The name or ip of the computer that runs MPD. </mat-hint>
    </mat-form-field>
  </mat-card-content>
  <mat-card-footer class="card-footer">
    Configure with <span class="mono code">-Dmpd.server</span> when starting
    ampd.
  </mat-card-footer>
</mat-card>
