.shortcut {
  /* top | right | bottom | left */
  padding: 0 0.1rem 0 0.1rem;
  margin: 0 0.1rem 0 0.1rem;
}

.shortcut-key {
  font-weight: bold;
}

.mat-divider {
  margin: 0.5rem;
}

.trigger {
  padding: 0 0.5rem 0 0.5rem;
  font-weight: bolder;
}

.shortcut-entry {
  border: 1px solid var(--border-color);
  margin: 0.25rem;
}
