<h2 mat-dialog-title>Shortcuts</h2>
<div fxLayout="column">
  <div
    *ngFor="let shortcutSection of shortcuts"
    fxFlex
    fxLayoutGap="0.5rem grid"
    fxLayout="row wrap"
  >
    <div
      *ngFor="let sc of shortcutSection | mapEntries"
      fxFlex="30%"
      fxLayout="row nowrap"
      fxLayoutGap="0.5rem grid"
      fxLayoutAlign="start center"
    >
      <div>
        <span class="mono shortcut shortcut-key">{{ sc.key }}</span>
      </div>
      <div>
        <span class="shortcut">{{ sc.value }}</span>
      </div>
    </div>
    <mat-divider fxFlex="100%"></mat-divider>
  </div>
</div>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
