<div class="mat-h1">Shortcuts</div>
<mat-divider></mat-divider>
<div class="grid grid-cols-2 gap-y-3">
  <div *ngFor="let shortcutSection of categories">
    <div class="mat-h2">
      {{ shortcutSection }}
    </div>
    <div
      *ngFor="let shortcut of shortcuts | filterByCategory: shortcutSection"
      class="grid grid-cols-2 py-3 hover:bg-violet-600"
    >
      <div class="flex flex-col">
        <div
          class="mono"
          *ngFor="let trig of shortcut.trigger"
          [title]="'Key: \'' + trig + '\''"
        >
          &quot;{{ trig }}&quot;&nbsp;
        </div>
      </div>
      <span class="shortcut">{{ shortcut.helpText }}</span>
    </div>
  </div>
</div>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
