<h2 fxLayoutAlign="center center">Shortcuts</h2>
<div fxLayout="column" fxLayoutGap="1rem">
  <mat-divider></mat-divider>
  <div
    *ngFor="let shortcutSection of categories"
    fxFlex
    fxLayoutGap="0.5rem grid"
    fxLayout="row wrap"
  >
    <div
      fxFlex="100"
      fxLayoutAlign="center center"
      style="margin-bottom: 1.5rem"
    >
      <h3>{{ shortcutSection }}</h3>
    </div>
    <div
      *ngFor="let shortcut of shortcuts | filterByCategory: shortcutSection"
      fxFlex="30%"
      fxLayoutGap="1.5rem"
      fxLayout="row"
      fxLayoutAlign="space-between space-between"
      class="shortcut-entry"
    >
      <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="0.5rem">
        <div
          class="trigger mono"
          *ngFor="let trig of shortcut.trigger"
          [title]="'Key: \'' + trig + '\''"
        >
          &quot;{{ trig }}&quot;&nbsp;
        </div>
      </div>
      <span class="shortcut" fxLayoutAlign="center center">{{
        shortcut.helpText
      }}</span>
    </div>
  </div>
</div>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
