<div fxLayout="row" fxLayoutAlign.gt-md="space-between end">
  <button
    mat-stroked-button
    (click)="handleControlButton($event)"
    id="btn-prev"
    title="Previous track"
  >
    <mat-icon>skip_previous</mat-icon>
  </button>
  <button
    mat-stroked-button
    (click)="handleControlButton($event)"
    id="btn-stop"
    title="Stop"
  >
    <mat-icon>stop</mat-icon>
  </button>
  <button
    mat-stroked-button
    *ngIf="(currentState | async) === 'play'"
    (click)="handleControlButton($event)"
    id="btn-pause"
    title="Pause"
  >
    <mat-icon>pause</mat-icon>
  </button>
  <button
    mat-stroked-button
    *ngIf="(currentState | async) !== 'play'"
    (click)="handleControlButton($event)"
    id="btn-play"
    title="Play"
  >
    <mat-icon>play_arrow</mat-icon>
  </button>
  <button
    mat-stroked-button
    (click)="handleControlButton($event)"
    id="btn-next"
    title="Next track"
  >
    <mat-icon>skip_next</mat-icon>
  </button>
  <button
    mat-stroked-button
    (click)="onClearQueue()"
    title="Remove all items from the queue"
    class="valign-top clear-queue"
    [disabled]="(queueTrackCount | async) === (null || 0)"
  >
    <mat-icon>delete</mat-icon>
  </button>
  <button
    mat-stroked-button
    *ngIf="displayInfoBtn | async"
    (click)="onShowTrackInfo()"
    title="Info about currently playing track"
    class="valign-top"
    [disabled]="(currentState | async) === 'stop'"
  >
    <mat-icon>info</mat-icon>
  </button>
</div>
