@media (min-width: 600px) {
  .clear-queue {
    float: right;
  }
}

.valign-top {
  vertical-align: top;
}

div.container {
  display: flex;
}

div.container > div {
  flex: 1 1 5em;
}

div.container > div:first-child {
  margin-left: 0;
}

.clear-queue-container {
  flex-grow: 1;
  justify-content: flex-end;
}
