@media (min-width: 600px) {
  .clear-queue {
    float: right;
  }
}

.valign-top {
  vertical-align: top;
}

div.container {
  display: flex;
  margin-bottom: 10px;
  padding: 0px;
}

div.container > div {
  flex: 1 1 5em;
}

div.container > div:first-child {
  margin-left: 0;
}

div.sub-menu {
  align-items: flex-start;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1.5em;
  padding: 2px;
}

.clear-queue-container {
  flex-grow: 1;
  justify-content: flex-end;
}
