<div
  fxLayout="row nowrap"
  fxLayoutAlign="center"
  *ngIf="trackTableData.dataSource.data.length > 0"
>
  <mat-form-field class="full-width" *ngIf="dataSource.data.length > 0">
    <input
      #filterInputElem
      (keydown.escape)="resetFilter()"
      (keyup)="applyFilter($event.target)"
      [(ngModel)]="dataSource.filter"
      autocomplete="off"
      matInput
      placeholder="Filter queue"
      type="text"
    />
    <mat-icon
      (click)="resetFilter()"
      *ngIf="dataSource.filter"
      aria-label="Clear"
      matSuffix
    >
      close
    </mat-icon>
  </mat-form-field>
</div>

<app-track-data-table
  [trackTableData]="trackTableData"
  *ngIf="trackTableData.dataSource.data.length > 0"
></app-track-data-table>

<div fxLayout="row wrap" fxLayoutAlign="space-between center" class="space-top">
  <span
    class="bottom-divider"
    fxFlex.lt-md="100%"
    *ngIf="dataSource.data.length > 0"
  >
    <span [ngPlural]="dataSource.data.length">
      <ng-template ngPluralCase="=1">1 track </ng-template>
      <ng-template ngPluralCase="other"
        >{{ dataSource.data.length }} tracks</ng-template
      >
    </span>
    in the queue.
    <span *ngIf="queueDuration > 0">
      Duration:
      {{ queueDuration | secondsToHhMmSs }}
    </span>
  </span>
  <button mat-stroked-button (click)="openAddStreamModal()" fxFlex.lt-md="100%">
    <mat-icon>add</mat-icon>
    Add stream
  </button>
  <button
    mat-stroked-button
    (click)="openSavePlaylistModal()"
    *ngIf="dataSource.data.length > 0"
    fxFlex.lt-md="100%"
  >
    <mat-icon>save</mat-icon>
    Save playlist
  </button>
</div>
