<div fxLayout="row nowrap" fxLayoutAlign="center">
  <div fxFlex="1 1 auto">
    <mat-form-field class="full-width" *ngIf="dataSource.data.length > 0">
      <input
          #filterInputElem
          (keydown.escape)="filterInputElem.blur()"
          (keyup)="applyFilter($event.target.value)"
          [(ngModel)]="dataSource.filter"
          [autofocus]="focus"
          autocomplete="off"
          matInput
          placeholder="Filter queue"
          type="text"
      />
      <mat-icon
          (click)="resetFilter()"
          *ngIf="dataSource.filter"
          aria-label="Clear"
          matSuffix
      >
        close
      </mat-icon>
    </mat-form-field>
  </div>
  <div fxLayoutAlign="end baseline" *ngIf="displaySaveCoverBtn">
    <button mat-stroked-button (click)="openCoverModal()">
      Save playlist
    </button>
  </div>
</div>

<app-track-data-table [trackTableData]="trackTableData"></app-track-data-table>

<mat-divider class="bottom-divider"></mat-divider>

<span *ngIf="dataSource.data.length > 0" class="bottom-divider">
  {{ dataSource.data.length }} tracks in the queue. Duration:
  {{ queueDuration | secondsToHhMmSs }}
</span>
