SERVER.ADDRESS=0.0.0.0
SERVER.PORT=8080
MPD_SERVER=my-mpd-servr
MPD.PORT=6600
LOCAL.COVER.CACHE=true
MB.COVER.SERVICE=true
RESET.MODES.ON.CLEAR=true
CREATE.NEW.PLAYLISTS=true
DELETE.EXISTING.PLAYLISTS=true

