<div fxLayout="column" fxLayoutGap="0.75rem">
  <mat-card>
    <mat-card-header>
      <mat-card-title>MusicBrainz cover service</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-slide-toggle class="space-right" [checked]="mbCoverService" disabled>
        <mat-hint align="end">Get covers from MusicBrainz. </mat-hint>
      </mat-slide-toggle>
    </mat-card-content>
    <mat-card-footer class="card-footer">
      <p>
        <span *ngIf="coverCacheUsage | async as usage">
          <span *ngIf="usage > 0">
            Currently {{ usage | filesize }} used.
          </span>
        </span>
      </p>
      Configure with <span class="mono code">-Dmb.cover.service=true</span> when
      starting ampd.
    </mat-card-footer>
  </mat-card>
</div>
