<div class="flex flex-wrap justify-between md:justify-start md:gap-x-2">
  <!--Return to top -->
  <div>
    <button
      mat-raised-button
      [routerLink]="['/browse']"
      title="Go to base directory"
    >
      <mat-icon>home</mat-icon>
      <span class="hidden md:inline">Top</span>
    </button>
  </div>

  <!--Go one dir up -->
  <div *ngIf="getParamDir !== '/'">
    <button
      mat-raised-button
      [routerLink]="['/browse']"
      [queryParams]="{ dir: dirUp$ | async }"
      title="Go one directory up"
    >
      <mat-icon>expand_less</mat-icon>
      <span class="hidden md:inline">Return</span>
    </button>
  </div>

  <!--Add all-->
  <div *ngIf="getParamDir !== '/'">
    <button mat-raised-button (click)="onAddDir(getParamDir)">
      <mat-icon> add</mat-icon>
      <span class="hidden md:inline">Add all</span>
    </button>
  </div>

  <!--Play all-->
  <div *ngIf="getParamDir !== '/'">
    <button mat-raised-button (click)="onPlayDir(getParamDir)" title="Play all">
      <mat-icon> play_arrow</mat-icon>
      <span class="hidden md:inline">Play all</span>
    </button>
  </div>

  <!--Clear queue-->
  <div>
    <button mat-raised-button (click)="onClearQueue()" title="Clear the queue">
      <mat-icon>delete</mat-icon>
      <span class="hidden md:inline">Clear queue</span>
    </button>
  </div>

  <!-- Albums -->
  <div *ngIf="getParamDir === '/'">
    <button
      mat-raised-button
      [routerLink]="['/browse/albums']"
      routerLinkActive="mat-accent"
      title="Go to albums"
    >
      <mat-icon>album</mat-icon>
      <span class="hidden md:inline"> Albums </span>
    </button>
  </div>

  <!-- Genres -->
  <div *ngIf="getParamDir === '/'">
    <button
      mat-raised-button
      [routerLink]="['/browse/genres']"
      routerLinkActive="mat-accent"
      title="Go to genres"
    >
      <mat-icon>local_offer</mat-icon>
      <span class="hidden md:inline"> Genres </span>
    </button>
  </div>

  <!-- Radio Streams -->
  <div *ngIf="getParamDir === '/'">
    <button
      mat-raised-button
      [routerLink]="['/browse/radio-streams']"
      routerLinkActive="mat-accent"
      title="Go to radio streams"
    >
      <mat-icon>radio</mat-icon>
      <span class="hidden md:inline"> Radio </span>
    </button>
  </div>

  <div class="md:flex-grow"></div>

  <!--Filter-->
  <div class="w-full md:w-1/3">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input
        #filterInputElem
        (keydown.escape)="resetFilter()"
        (keyup)="applyFilter($event.target)"
        [(ngModel)]="filter"
        autocomplete="off"
        matInput
        placeholder="Press 'f' to jump here"
        type="text"
        [disabled]="(filterDisabled$ | async) === false"
      />
      <button
        (click)="filter = ''; resetFilter()"
        *ngIf="filter"
        aria-label="Clear"
        mat-button
        mat-icon-button
        matSuffix
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
</div>

<mat-divider></mat-divider>
