<mat-card>
  <mat-card-header>
    <mat-card-title>Music directory</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>{{musicDirectory | replaceNullWithText}}</mat-label>
      <input matInput disabled>
      <mat-hint>
        Corresponds to the value of <span class="mono">music_directory</span> in the mpd.conf.
      </mat-hint>
    </mat-form-field>
  </mat-card-content>
  <mat-card-footer class="card-footer">
    Configure with <span class="mono code">-Dmpd.music.directory</span> when starting ampd.
  </mat-card-footer>
</mat-card>