<div
  fxLayout="column"
  fxLayoutAlign="space-between"
  *ngIf="tracks | async; else loading"
>
  <div mat-dialog-title fxLayout="row wrap" fxLayoutAlign="space-between">
    <div fxLayoutAlign="start center" fxFlex fxFlex.lt-md="100%">
      <img
        mat-card-image
        [ngClass]="[coverSizeClass | async]"
        [title]="album.name"
        alt="Cover of {{ album.name }}"
        [src]="album.albumCoverUrl"
      />
    </div>
    <div
      fxLayout="column"
      fxLayoutAlign="start center"
      fxFlex
      fxFlex.lt-md="100%"
    >
      <div class="mat-h2">
        {{ album.name }}
      </div>
      <div class="text-muted">
        {{ album.albumArtist }}
      </div>
    </div>
    <div fxLayoutAlign="end center" fxFlex fxFlex.lt-md="100%">
      <!--Add all-->
      <button class="mat-small" mat-raised-button (click)="onAddDir()">
        <mat-icon> add</mat-icon>
        <span fxHide.lt-md>Add all</span>
      </button>

      <!--Play all-->
      <button class="mat-small" mat-raised-button (click)="onPlayDir()">
        <mat-icon> play_arrow</mat-icon>
        <span fxHide.lt-md>Play all</span>
      </button>
    </div>
  </div>

  <!-- Tracks in this dir -->
  <mat-dialog-content>
    <app-track-data-table
      [trackTableData]="trackTableData"
    ></app-track-data-table>
  </mat-dialog-content>

  <mat-dialog-actions fxLayout="row nowrap" fxLayoutAlign="end">
    <button mat-stroked-button matDialogClose>Close</button>
  </mat-dialog-actions>
</div>

<ng-template #loading>
  <div fxLayout="row" fxLayoutAlign="space-around">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
