<div class="sub-menu">
  <div class="flex-item valign-center-outer">
    <h3 class="list-header valign-center-inner">
      {{ dir }}
    </h3>
  </div>
</div>

<mat-list
  role="list"
  *ngFor="let track of titleQueue"
  class="browse-list"
  (click)="onTitleAdd(track)"
>
  <mat-list-item role="listitem" class="list-item">
    <mat-icon>audiotrack</mat-icon> &nbsp;
    <span class="text-muted space-right"> &#35;{{ track.track }} </span>
    {{ track.title }} &nbsp;
    <span class="text-muted">{{ track.length | secondsToMmSsPipe }}</span>
    <span class="fill-space"></span>
    <i
      class="material-icons clickable chip"
      (click)="onPlayTitle(track)"
      title="Play track"
    >
      play_arrow
    </i>
    <i
      class="material-icons clickable chip"
      (click)="onAddTitle(track)"
      title="Add track to queue"
    >
      add
    </i>
  </mat-list-item>
</mat-list>
