<div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-around">
  <div fxFlex fxLayoutAlign="start center">
    <span class="mat-h3">
      <span class="dir-prefix">Directory</span>{{ dirQp }}
    </span>
  </div>
  <div
    fxLayoutAlign="end end"
    fxFlex.lt-md="100%"
    fxLayoutAlign.lt-md="center center"
  >
    <lightgallery *ngIf="coverUrl()">
      <a [href]="coverUrl()">
        <img
          (click)="openCoverModal()"
          (error)="onError()"
          (load)="onLoad()"
          [alt]="'Cover of ' + dirQp"
          [hidden]="!validCoverUrl"
          [ngClass]="[coverSizeClass | async]"
          [src]="coverUrl()"
          [title]="'Cover of ' + dirQp"
          class="album-art clickable"
        />
      </a>
    </lightgallery>
  </div>
</div>

<mat-divider></mat-divider>

<!-- Tracks in this dir -->
<app-track-data-table [trackTableData]="trackTableData"></app-track-data-table>

<mat-divider class="bottom-divider"></mat-divider>

<div *ngIf="trackTableData.dataSource.data.length > 0" class="bottom-divider">
  <span [ngPlural]="trackTableData.dataSource.data.length">
    <ng-template ngPluralCase="=1">1 track </ng-template>
    <ng-template ngPluralCase="other"
      >{{ trackTableData.dataSource.data.length }} tracks</ng-template
    >
  </span>
  in this directory. Total playtime: {{ queueDuration | secondsToHhMmSs }}
</div>
