<app-browse-navigation [filterDisabled]="true"></app-browse-navigation>

<div class="page-title">Recently Listened</div>

<mat-tab-group animationDuration="0ms" dynamicHeight>
  <mat-tab label="Albums">
    <app-recently-listened-albums></app-recently-listened-albums>
  </mat-tab>
  <mat-tab label="Artists">
    <app-recently-listened-artists></app-recently-listened-artists>
  </mat-tab>
  <mat-tab label="Tracks">
    <app-recently-listened-tracks></app-recently-listened-tracks>
  </mat-tab>
</mat-tab-group>
