// #photos {
//   /* Prevent vertical gaps */
//   line-height: 0;

//   -webkit-column-count: 4;
//   -webkit-column-gap: 0.5rem;
//   -moz-column-count: 4;
//   -moz-column-gap: 0.5rem;
//   column-count: 4;
//   column-gap: 0.5rem;
// }

// @media (max-width: 1000px) {
//   #photos {
//     -moz-column-count: 3;
//     -webkit-column-count: 3;
//     column-count: 3;
//   }
// }

// @media (max-width: 800px) {
//   #photos {
//     -moz-column-count: 2;
//     -webkit-column-count: 2;
//     column-count: 2;
//   }
// }

// @media (max-width: 400px) {
//   #photos {
//     -moz-column-count: 1;
//     -webkit-column-count: 1;
//     column-count: 1;
//   }
// }
