<app-browse-navigation [filterDisabled]="true"></app-browse-navigation>

<div class="flex flex-col md:flex-row justify-between">
  <div
    class="mat-h2 clickable"
    [routerLink]="['/browse/albums']"
    (click)="resetFilter()"
  >
    Albums
  </div>
  <mat-form-field
    appearance="fill"
    [ngClass]="{ 'dark-theme': darkTheme | async }"
  >
    <mat-label>Sort by</mat-label>
    <mat-select
      [(ngModel)]="selected"
      name="sortByKey"
      (selectionChange)="onSortBy($event.value)"
    >
      <mat-option
        *ngFor="let sortByKey of sortByKeys"
        [value]="sortByKey.value"
      >
        {{ sortByKey.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!--Filter-->
  <div>
    <mat-form-field>
      <input
        #searchInput
        matInput
        placeholder="Filter albums"
        autocomplete="off"
        type="text"
        [(ngModel)]="filter"
        (keydown.escape)="resetFilter()"
        (keyup)="applyFilter($event.target)"
      />
      <button
        mat-button
        *ngIf="filter"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="resetFilter()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
</div>

<mat-divider></mat-divider>

<div id="loading">
  <mat-spinner *ngIf="isLoading | async"></mat-spinner>
</div>

<div *ngIf="pagedAlbums$ | async as pagedAlbums">
  <app-album-item
    *ngFor="let album of pagedAlbums.content"
    [album]="album"
  ></app-album-item>

  <div
    [hidden]="pagedAlbums.content.length === 0 || pagedAlbums.totalPages < 2"
  >
    <mat-paginator
      [length]="pagedAlbums.totalElements"
      [pageIndex]="pagedAlbums.number"
      [pageSize]="pagedAlbums.size"
      [pageSizeOptions]="[]"
      [showFirstLastButtons]="pagedAlbums.totalPages > 1"
      (page)="handlePage($event)"
    ></mat-paginator>
  </div>
</div>
