<app-navigation [filterDisabled]="true"></app-navigation>

<div
  fxLayout="row wrap"
  fxLayoutAlign="space-between"
  fxLayoutGap="1rem grid"
  fxLayoutGap.lt-md="0.25rem grid"
>
  <div
    class="mat-h2 clickable"
    fxLayoutAlign="center center"
    [routerLink]="['/browse/albums']"
    (click)="resetFilter()"
  >
    Albums
  </div>
  <div class="text-muted" fxLayoutAlign="center center">
    Page {{ page | async }}
  </div>

  <mat-form-field
    appearance="fill"
    [ngClass]="{ 'dark-theme': darkTheme | async }"
  >
    <mat-label>Sort by</mat-label>
    <mat-select
      [(ngModel)]="sortBy"
      name="sortByKey"
      (selectionChange)="onSortBy($event.value)"
    >
      <mat-option
        *ngFor="let sortByKey of sortByKeys"
        [value]="sortByKey.value"
      >
        {{ sortByKey.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!--Filter-->
  <div fxLayoutAlign="center center" fxFlex="30%" fxFlex.lt-md="100%">
    <mat-form-field class="full-width">
      <input
        #searchInput
        matInput
        placeholder="Filter albums"
        autocomplete="off"
        type="text"
        [(ngModel)]="filter"
        (keydown.escape)="resetFilter()"
        (keyup)="applyFilter($event.target)"
      />
      <button
        mat-button
        *ngIf="filter"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="resetFilter()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
</div>

<mat-divider></mat-divider>

<div fxLayout="row" fxLayoutAlign="space-around">
  <mat-spinner *ngIf="isLoading | async"></mat-spinner>
</div>

<div class="gallery-grid">
  <app-album-item
    *ngFor="let album of albums | async"
    [album]="album"
  ></app-album-item>
</div>

<ng-container *ngIf="albums | async as albumList">
  <ng-container *ngIf="albumList.length > 0; else noResults">
    <div *ngIf="page | async as pageNo">
      <mat-divider></mat-divider>
      <app-albums-pagination [pageNo]="pageNo"></app-albums-pagination>
    </div>
  </ng-container>
</ng-container>

<ng-template #noResults>No albums found.</ng-template>
