<mat-card>
  <mat-card-header>
    <mat-card-title>Playlist management</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-slide-toggle
        class="space-right"
        [checked]="createNewPlaylists"
        disabled
    >
      <mat-hint align="end"
      >Users are allowed to create new playlists.
      </mat-hint
      >
    </mat-slide-toggle>
    <p></p>
    <mat-slide-toggle
        class="space-right"
        [checked]="deleteExistingPlaylists"
        disabled
    >
      <mat-hint align="end"
      >Users are allowed to delete existing playlists.
      </mat-hint
      >
    </mat-slide-toggle>
  </mat-card-content>
  <mat-card-footer class="card-footer">
    Configure with <span class="mono code">-Dcreate.new.playlists=true</span> and
    <span class="mono code">-Ddelete.existing.playlists=true</span> when starting ampd.
  </mat-card-footer>
</mat-card>