@media only screen and (min-width: 1280px) {
  .app-content {
    // top | right | bottom | left
    padding: 1px 10% 1rem 10%;
  }

  .toolbar {
    padding: 0 10% 0 10%;
  }
}

.fill-space {
  flex: 1 1 auto;
}

.app-main {
  height: 100vh;
}

.space-right {
  margin-right: 1%;
}

div#indicator {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  margin: 0 10px;
  display: inline-block;
  background: #ffbf00; /* Ember by default, will be used for CONNECTING and CLOSING */
}

div.CLOSED#indicator {
  background: red;
}

div.OPEN#indicator {
  background: green;
}

.help-icon {
  cursor: pointer;
  margin-left: 1rem;
}
