<div
  class="app-main mat-app-background"
  [ngClass]="{ 'dark-theme': darkTheme | async }"
>
  <mat-toolbar class="toolbar" color="primary">
    <!-- Queue -->
    <a
      mat-button
      [routerLink]="['']"
      routerLinkActive="mat-accent"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <mat-icon>format_list_bulleted</mat-icon>
      <span fxHide.lt-md> Queue </span>
    </a>

    <!-- Browse -->
    <a mat-button [routerLink]="['/browse']" routerLinkActive="mat-accent">
      <mat-icon>folder_open</mat-icon>
      <span fxHide.lt-md> Browse </span>
    </a>

    <!-- Search -->
    <button mat-button (click)="openSearchDialog()">
      <mat-icon>search</mat-icon>
      <span fxHide.lt-md> Search </span>
    </button>

    <!-- Settings -->
    <a mat-button [routerLink]="['/settings']" routerLinkActive="mat-accent">
      <mat-icon>settings</mat-icon>
      <span fxHide.lt-md> Settings </span>
    </a>

    <div fxFlex></div>
    <a
      [routerLink]="['/']"
      fxHide.lt-md
      class="mono space-right clickable"
      style="color: white !important"
      >ampd</a
    >
    <div [ngSwitch]="connState | async" fxLayoutAlign="center center">
      <mat-spinner
        color="accent"
        diameter="30"
        *ngSwitchCase="0"
        title="Connecting..."
      ></mat-spinner>
      <mat-icon *ngSwitchCase="1" title="Connected">cloud</mat-icon>
      <mat-spinner
        color="accent"
        diameter="30"
        *ngSwitchCase="2"
        title="Closing..."
      ></mat-spinner>
      <mat-icon *ngSwitchDefault title="Disconnected">cloud_off</mat-icon>
    </div>
    <mat-icon
      #helpIcon
      fxHide.lt-md
      class="help-icon"
      (click)="openHelpDialog()"
      title="Show shortcut help"
      >help</mat-icon
    >
  </mat-toolbar>
  <div class="app-content" [ngClass]="{ 'dark-theme': darkTheme | async }">
    <router-outlet></router-outlet>
  </div>
</div>
