<div mat-dialog-title>
  <div class="flex flex-row gap-x-2">
    <span class="text-muted">Playlist</span>
    <strong>{{ data.name }}</strong>
    <span class="text-muted" *ngIf="playlistInfo | async as info"
      >{{ info.tracks.totalElements }} tracks</span
    >
  </div>

  <div mat-dialog-content>
    <div *ngIf="isLoadingResults | async">
      <mat-spinner></mat-spinner>
    </div>
    <app-track-data-table
      *ngIf="(isLoadingResults | async) === false"
      [trackTableData]="trackTableData"
    ></app-track-data-table>
  </div>

  <mat-dialog-actions>
    <button mat-stroked-button (click)="onDeletePlaylist()" color="warn">
      Delete
    </button>
    <button mat-stroked-button (click)="onAddPlaylist()">Add</button>
    <button mat-stroked-button matDialogClose>Close</button>
  </mat-dialog-actions>
</div>
