.track-table {
  margin-top: 1rem;
}

table {
  width: 100%;
}

table td,
table td * {
  vertical-align: center;
}

.mobile {
  padding-right: 0 0 0 2px !important;
  word-break: break-all;
}

.mat-column-artist-name {
  width: 30%;
  word-break: normal;
}

.mat-column-title {
  word-break: normal;
}

.mat-column-position,
.mat-column-add-title,
.mat-column-add-title,
.mat-column-info,
.mat-column-remove {
  width: 1%;
}

.mat-column-length {
  width: 3%;
}
