.track-table {
  margin-top: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table td,
table td * {
  vertical-align: center;
}

.mat-column-artist-name {
  width: 30%;
}

.mat-column-position,
.mat-column-add-title,
.mat-column-add-title,
.mat-column-info,
.mat-column-remove {
  width: 1%;
}

.mat-column-length {
  width: 3%;
}
