<form (ngSubmit)="onSubmit()" #heroForm="ngForm" class="settings-form">
  <mat-grid-list cols="2" rowHeight="5em">
    <mat-grid-tile>
      <label for="coverServer">coverServer</label>
    </mat-grid-tile>
    <mat-grid-tile>
      <input type="text" class="form-control" id="coverServer"
             required
             [(ngModel)]="model.coverServer" name="coverServer"
             #coverServer="ngModel">
      <div [hidden]="coverServer.valid || coverServer.pristine">
        coverServer is required
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <label for="webSocketServer">webSocketServer</label>
    </mat-grid-tile>
    <mat-grid-tile>
      <input type="text" class="form-control" id="webSocketServer"
             required
             [(ngModel)]="model.webSocketServer" name="webSocketServer"
             #webSocketServer="ngModel">
      <div [hidden]="webSocketServer.valid || webSocketServer.pristine">
        webSocketServer is required
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-stroked-button type="submit" (click)="saveSettings()">Submit</button>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
  </mat-grid-list>
</form>

<mat-divider></mat-divider>

<div class="version-info">
      Version: {{ampdVersion}}
</div>
