.settings-form {
  margin-left: auto;
  margin-right: auto;
}

.version-info {
  font-weight: bold;
  margin-top: 1em;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}
