.settings-form {
  padding-top: 1rem;
}

@media only screen and (min-width: 1000px) {
  .settings-form {
    padding: 1px 10% 0 10%;
  }
}

a {
  // color: black;
}

.gap {
  margin-left: 2em;
  margin-right: 2em;
}

.space-top {
  padding-top: 0.25rem;
  margin-top: 0.25rem;
}

.logo {
  font-family: 'Source Code Pro', Hack, monospace;
  font-weight: bold;
}
