<div class="gap">
  <div fxLayout="column">
    <div>
      <h1>ampd</h1>

      <mat-divider class="divider"></mat-divider>

      <form (ngSubmit)="onSubmit()" #heroForm="ngForm" class="settings-form">
        <div fxLayout.xs="column">
          <div>
            <mat-form-field class="full-width">
              <input
                matInput
                required
                name="coverServer"
                [(ngModel)]="model.coverServer"
                value="{{ model.coverServer }}"
                placeholder="Cover Server"
              />
            </mat-form-field>
          </div>

          <div>
            <mat-form-field class="full-width">
              <input
                matInput
                required
                name="webSocketServer"
                [(ngModel)]="model.webSocketServer"
                value="{{ model.webSocketServer }}"
                placeholder="Websocket Server"
              />
            </mat-form-field>
          </div>
        </div>

        <button mat-stroked-button type="submit" (click)="saveSettings()">
          Save
        </button>
      </form>
    </div>

    <mat-divider class="divider"></mat-divider>

    <div>
      Version: {{ ampdVersion }}
      <span class="text-muted">{{ gitCommitId }}</span>
    </div>

    <div>Source code: <a href="https://github.com/rain0r/ampd">Github</a></div>
  </div>
</div>
