<div *ngIf="playlistInfo | async as info">
  <h2 mat-dialog-title>Playlist:  {{info.name}} ({{info.trackCount}} tracks)</h2>

  <mat-dialog-content>
    <app-track-data-table [dataSource]="info.tracks" [displayedColumns]="displayedColumns" [activeRows]="false"></app-track-data-table>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-stroked-button (click)="onDeletePlaylist()" color="warn">Delete</button>
    <button mat-stroked-button (click)="closeModal()">Close</button>
  </mat-dialog-actions>
</div>