<div *ngIf="playlistInfo | async as info else loading" fxLayout="column">
  <div mat-dialog-title fxLayout="row wrap" fxLayoutAlign="space-between baseline">
    <span class="text-muted">Playlist</span>
    <strong>{{info.name}}</strong>
    <span class="text-muted">{{info.trackCount}} tracks</span>
  </div>

  <mat-dialog-content>
    <app-track-data-table [trackTableData]="trackTableData"></app-track-data-table>
  </mat-dialog-content>

  <mat-dialog-actions fxLayout="row nowrap" fxLayoutAlign="end">
    <button mat-stroked-button (click)="onDeletePlaylist()" color="warn">Delete</button>
    <button mat-stroked-button (click)="onAddPlaylist()">Add</button>
    <button mat-stroked-button (click)="closeModal()">Close</button>
  </mat-dialog-actions>
</div>

<ng-template #loading>
  <div fxLayout="row" fxLayoutAlign="space-around">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>