<div
  fxLayout="row wrap"
  fxLayoutAlign="end end"
  fxLayoutGap="1rem grid"
  fxLayoutGap.lt-md="0.25rem grid"
>
  <button mat-button disabled>Page {{ pageNo }}</button>
  <a mat-button [queryParams]="{ page: 1 }" [routerLink]="['/browse/albums']">
    Start
  </a>
  <a
    *ngIf="pageNo > 1"
    mat-button
    [queryParams]="{ page: pageNo - 1 }"
    [routerLink]="['/browse/albums']"
  >
    Prev
  </a>
  <a
    mat-button
    [queryParams]="{ page: pageNo + 1 }"
    [routerLink]="['/browse/albums']"
  >
    Next
  </a>
</div>
