<div
  fxLayout="row wrap"
  fxLayoutAlign="end end"
  fxLayoutGap="1rem grid"
  fxLayoutGap.lt-md="0.25rem grid"
>
  <button mat-button disabled>Page {{ pageNo }}</button>
  <button
    mat-button
    [queryParams]="{ page: 1 }"
    [routerLink]="['/browse/albums']"
  >
    Start
  </button>
  <button
    *ngIf="pageNo > 1"
    mat-button
    [queryParams]="{ page: pageNo - 1 }"
    [routerLink]="['/browse/albums']"
  >
    Prev
  </button>
  <button
    mat-button
    [queryParams]="{ page: pageNo + 1 }"
    [routerLink]="['/browse/albums']"
  >
    Next
  </button>
</div>
