<div class="py-8">
  @if (pagedAlbums$ | async; as pagedAlbums) {
    <div class="grid grid-cols-1 md:grid-cols-4 gap-x-6 gap-y-12">
      @for (album of pagedAlbums.content; track album) {
        <app-album-item [album]="album"></app-album-item>
      }
    </div>
    <div
      class="mt-5"
      [hidden]="pagedAlbums.content.length === 0 || pagedAlbums.totalPages < 2"
    >
      <mat-paginator
        [length]="pagedAlbums.totalElements"
        [pageIndex]="pagedAlbums.number"
        [pageSize]="pagedAlbums.size"
        [pageSizeOptions]="[]"
        [showFirstLastButtons]="pagedAlbums.totalPages > 1"
        (page)="handlePage($event)"
      ></mat-paginator>
    </div>
  } @else {
    <mat-spinner></mat-spinner>
  }

  <ng-container> </ng-container>
</div>
