<app-browse-navigation [filterDisabled]="true"></app-browse-navigation>

<div>Radio streams</div>

<div *ngIf="dataSource$ | async as dataSource">
  <div class="my-4">
    <app-radio-stream-list [dataSource]="dataSource"></app-radio-stream-list>
  </div>

  <mat-divider></mat-divider>

  <div class="my-4">
    <div>Add a radio stream</div>
    <form [formGroup]="radioStreamForm" (ngSubmit)="onSubmit()">
      <div class="flex flex-col">
        <mat-form-field>
          <mat-label for="name">Name</mat-label>
          <input
            autocomplete="off"
            formControlName="name"
            id="name"
            matInput
            required
            type="text"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label for="url">URL of the stream</mat-label>
          <input
            autocomplete="off"
            formControlName="url"
            id="url"
            matInput
            required
            type="url"
          />
        </mat-form-field>
      </div>

      <button
        [disabled]="!radioStreamForm.valid"
        color="primary"
        mat-stroked-button
      >
        Save
      </button>
    </form>
  </div>
</div>
