<app-browse-navigation [filterDisabled]="true"></app-browse-navigation>

<div class="page-title">Radio Streams</div>

@if (dataSource$ | async; as dataSource) {
  <div>
    <div class="my-8">
      <app-radio-stream-list [dataSource]="dataSource"></app-radio-stream-list>
      @if (dataSource.data.length > 0) {
        <mat-divider></mat-divider>
      }
      <app-add-radio-stream> </app-add-radio-stream>
      <mat-divider></mat-divider>
      <app-import-radio-streams></app-import-radio-streams>
      <div class="my-8">
        <a
          mat-stroked-button
          href="{{ exportRadioStreamsUrls }}"
          target="_blank"
        >
          Export radio stations
        </a>
      </div>
    </div>
  </div>
}
