<div *ngIf="directory !== null" class="flex flex-col gap-y-1">
  <img
    [queryParams]="{ dir: pathLink }"
    [routerLink]="['/browse']"
    [title]="directory.displayedPath"
    alt="Cover of {{ directory.displayedPath }}"
    class="clickable"
    src="{{ directory.albumCoverUrl }}"
  />
  <div class="flex flex-col md:flex-row md:gap-x-2">
    <button mat-stroked-button (click)="onPlayDir($event, directory.path)">
      Play
    </button>
    <button mat-stroked-button (click)="onAddDir($event, directory.path)">
      Add
    </button>
  </div>
</div>
