<div
  fxLayout="row nowrap"
  fxLayoutAlign="center center"
  fxLayoutGap.gt-md="0.4rem"
>
  <div>
    {{ track.elapsed | secondsToMmSs }}
  </div>
  <div fxFlex="1 1 auto">
    <mat-slider
      class="full-width"
      min="0"
      max="{{ track.length }}"
      step="1"
      [(ngModel)]="track.progress"
      (input)="handleCurrentTrackProgressSlider($event)"
      [disabled]="(connState | async) !== 1"
    ></mat-slider>
  </div>
  <div *ngIf="track.length > 0">
    {{ track.length | secondsToMmSs }}
  </div>
</div>

<mat-divider *ngIf="(state | async) !== 'stop'"></mat-divider>
