<div class="flex flex-row place-items-center gap-x-6">
  <div [class.text-muted]="track.length === 0">
    {{ track.elapsed | secondsToMmSs }}
  </div>
  <div class="flex-grow">
    <mat-slider
      [displayWith]="formatSeconds"
      [disabled]="(connected$ | async) === false || track.length === 0"
      [max]="track.length"
      [min]="0"
      [discrete]="true"
      [showTickMarks]="false"
    >
      <input
        matSliderThumb
        [(ngModel)]="track.progress"
        (valueChange)="handleCurrentTrackProgressSlider($event)"
      />
    </mat-slider>
  </div>
  <div *ngIf="track.length > 0">
    {{ track.length | secondsToMmSs }}
  </div>
</div>
