@if (track$ | async; as track) {
  @if (state$ | async; as state) {
    <div class="flex flex-row place-items-center gap-x-8 px-1">
      <div
        [class.text-muted]="state === 'pause'"
        data-cy="elapsed"
        [attr.data-elapsed]="track.elapsed"
      >
        {{ track.elapsed | secondsToMmSs }}
      </div>
      <mat-slider
        class="flex-grow"
        [disabled]="
          (connected$ | async) === false ||
          state === 'stop' ||
          (isStream$ | async) === true
        "
        [discrete]="true"
        [displayWith]="formatSeconds"
        [max]="track.length"
        [min]="0"
        [showTickMarks]="false"
        color="accent"
      >
        <input
          matSliderThumb
          [(ngModel)]="track.progress"
          (valueChange)="handleCurrentTrackProgressSlider($event)"
        />
      </mat-slider>
      @if (state !== "stop") {
        <div [class.text-muted]="state === 'pause'">
          {{ track.length | secondsToMmSs }}
        </div>
      } @else {
        —
      }
    </div>
  }
}
