.file-input {
  display: none;
}

input {
  display: none;
}

label {
  cursor: pointer;
  display: inline-block;
  // padding: 10px 20px;
  // border-radius: 4px;
  -webkit-transition: background-color 0.1s, color 0.1s;
}

.hidden-container {
  -webkit-transition: height 0.3s ease;
  height: 0;
  overflow: hidden;
  // margin-top: 10px;
}

input:checked + .hidden-container {
  height: 50vh;
}
