<div class="my-8">
  <div class="page-sub-title">Import radio streams</div>
  <input
    type="file"
    class="file-input"
    [accept]="requiredFileType"
    (change)="onFileSelected($event)"
    #fileUpload
  />

  <div class="my-3">
    <div class="file-upload">
      @if (fileName) {
        <span>fileName</span>
      } @else {
        Select a <span class="font-mono">JSON</span> file that contains radio
        streams:
      }

      <div class="my-4">
        <button
          mat-mini-fab
          color="primary"
          class="upload-btn"
          (click)="fileUpload.click()"
        >
          <mat-icon>attach_file</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="hidden md:block">
    <div class="my-4">Required <span class="font-mono">JSON</span> format:</div>
    <pre class="border p-2"><code [innerHTML]="exampleJson"></code></pre>
  </div>
</div>
