@import "material-icons/iconfont/material-icons.css";
@import "./styles/material-theme";
@import "~lightgallery/scss/lightgallery";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

html,
body {
  height: 100%;
  background: var(--body-background-color);
}

* {
  margin: 0;
  padding: 0;
}

.mono {
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter,
    monospace;
  color: var(--font-color) !important;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  cursor: pointer;
  text-decoration: underline;
}

.text-muted {
  color: #868e96 !important;
}

table {
  width: 100%;
}

.mat-button-toggle-label-content {
  line-height: 34px !important;
}

.mat-divider-horizontal {
  /* top | right | bottom | left */
  padding: 0.25rem 0 0.25rem 0;
  margin: 0.25rem 0 0.25rem 0;
}

.dir-prefix {
  color: #868e96 !important;
  margin-right: 0.4rem;
}

// Global themed classes
$hover-background-color: var(--hover-background-color);
$background-color: var(--background-color);
$border-color: var(--border-color);
$font-color: var(--font-color);

// "Normal" hyperlinks
.no-deco-links {
  text-decoration: none;
  color: var(--font-color);
}

.no-deco-links:hover {
  text-decoration: underline;
  color: var(--font-color);
}

// Track table
.table-row:hover {
  cursor: pointer;
  background: var(--hover-background-color);
}

// Track table
.themedbg {
  background: var(--background-color) !important;
}

// Browse
.mat-list-item-content {
  border: 1px solid var(--border-color);
}

.mat-list-item-content:hover {
  background: var(--hover-background-color);
}

.themed-border {
  border: 1px solid var(--border-color);
}

.cut-text div {
  overflow-wrap: break-word;
}

/**
      Breakpoints.XSmall,
      Breakpoints.Small,
      Breakpoints.Medium,
      Breakpoints.Large,
      Breakpoints.XLarge
 */

.cover-xsmall {
  height: 150px !important;
  width: 150px !important;
}

.cover-small {
  height: 175px !important;
  width: 175px !important;
}

.cover-medium {
  height: 200px !important;
  width: 200px !important;
}

.cover-large {
  height: 350px !important;
  width: 350px !important;
}

.cover-xlarge {
  height: 500px !important;
  width: 500px !important;
}

.code {
  border: 1px solid var(--border-color);
  background: var(--background-color);
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}

.smaller-font {
  font-size: smaller !important;
}

.mat-sort-header-container {
  justify-content: center !important;
}

.dont-break-out {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-icon {
  padding-right: 0.5rem;
}

.mat-column-remove,
.mat-column-info,
.mat-column-add-title,
.mat-column-play-title {
  width: 1%;
}

.mat-dialog-content {
  max-height: unset !important;
}

/* Albums grid */
.gallery-grid {
  // display: -ms-grid;
  // display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  // grid-gap: 1.5rem;
  // justify-items: center;
  // margin: 0;
  // padding: 0;
}
