@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  height: 100%;
  margin: 0px;
}

* {
  margin: 0;
  padding: 0;
}

@media (max-width: 600px) {
  .only-on-big-screen {
    display: none;
  }
}

@media (min-width: 700px) {
  .only-on-small-screen {
    display: none;
  }
}

.chip {
  background-color: #e0e0e0;
  border-radius: 24px;
  display: inline-flex;
  padding: 0px !important;
}

mat-toolbar {
  justify-content: center;
  padding-bottom: 0px;
}

.space-right {
  padding-right: 0.5em;
}

.clickable {
  cursor: pointer;
}

.text-muted {
  color: #868e96 !important;
}

table {
  width: 100%;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}
