// @import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~material-icons/iconfont/material-icons.css';
@import '~roboto-fontface/css/roboto/roboto-fontface.css';
@import './styles/material-theme';

html,
body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

.mono {
  font-family: 'Source Code Pro', Hack, Monaco, monospace;
}

.chip {
  border-radius: 24px;
  display: inline-flex;
  padding: 0 !important;
  margin-left: 0.4rem;
}

mat-toolbar {
  justify-content: center;
  padding-bottom: 0;
}

.space-right {
  padding-right: 0.5em;
}

.clickable {
  cursor: pointer;
}

.text-muted {
  color: #868e96 !important;
}

table {
  width: 100%;
}

.full-width {
  width: 100%;
}

.mat-button-toggle-label-content {
  line-height: 34px !important;
}

.mat-divider-horizontal {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.dir-prefix {
  color: #868e96 !important;
  margin-right: 0.4rem;
}

// Global themed classes
$hover-background-color: var(--hover-background-color);
$background-color: var(--background-color);
$border-color: var(--border-color);
$font-color: var(--font-color);

// "Normal" hyperlinks
.no-deco-links {
  text-decoration: none;
  color: var(--font-color);
}

.no-deco-links:hover {
  text-decoration: underline;
  color: var(--font-color);
}

// Track table
.table-row:hover {
  cursor: pointer;
  background: var(--hover-background-color);
}

// Track table
.themedbg {
  background: var(--background-color) !important;
}

// Browse
.list-item:hover {
  cursor: pointer;
  background: var(--hover-background-color);
}

.mat-list-item-content {
  border: 1px solid var(--border-color);
}

.mat-list-item-content:hover {
  // cursor: pointer;
  background: var(--hover-background-color);
}

.themed-border {
  border: 1px solid var(--border-color);
}

.cut-text div {
  overflow-wrap: break-word;
}

.back-to-top {
  position: fixed;
  bottom: 0;
  right: 0;
  overflow: hidden;
  z-index: 10;
  opacity: 0.4;
  border: 1px solid var(--border-color);
  border-radius: 24px;
  display: inline-flex;
  padding: 0 !important;
  margin-right: 1rem;
  background: var(--background-color);
}

@media only screen and (max-width: 1280px) {
  // Needs to be here to override Angular's own padding
  .browse-list-item > .mat-list-item-content {
    padding-right: 5px !important;
    padding-left: 5px !important;
  }
}

/**
      Breakpoints.XSmall,
      Breakpoints.Small,
      Breakpoints.Medium,
      Breakpoints.Large,
      Breakpoints.XLarge
 */

.cover-xsmall {
  height: 150px !important;
  width: 150px !important;;
}

.cover-small {
  height: 175px !important;;
  width: 175px !important;;
}

.cover-medium {
  height: 200px !important;;
  width: 200px !important;;
}

.cover-large {
  height: 225px !important;;
  width: 225px !important;;
}

.cover-xlarge {
  height: 250px !important;;
  width: 250px !important;;
}

.centered {
  left: 40%;
}

.code {
  border: 1px solid var(--border-color);
  background: var(--background-color);
}

.smaller-font {
  font-size: smaller !important;
}

.bottom-divider {
  /* top | right | bottom | left */
  padding: 1rem 0 1rem 0;
  margin: 1rem 0 1rem 0;
}