@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
  height: 100%;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0px;
}

* {
  margin: 0;
  padding: 0;
}

.fill-space {
  flex: 1 1 auto;
}

@media (max-width: 600px) {
  .only-on-big-screen {
    display: none;
  }
}

@media (min-width: 700px) {
  .only-on-small-screen {
    display: none;
  }
}

.chip {
  background-color: #e0e0e0;
  border-radius: 24px;
  display: inline-flex;
  padding: 0px !important;
}

mat-toolbar {
  justify-content: center;
  padding-bottom: 0px;
}

.space-right {
  padding-right: 0.5em;
}

.clickable {
  cursor: pointer;
}

.text-muted {
  color: #868e96 !important;
}

table {
  width: 100%;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

/* Browsing */
sub-menu {
  align-items: baseline;
  background: white;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

.flex-item {
  align-items: stretch;
  box-sizing: border-box;
  flex: 1;
  padding-top: 1em;
}

@media screen and (max-width: 990px) {
  .container {
    flex-wrap: wrap;
  }
  .flex-item:first-child {
    flex-basis: 100%;
  }
}

.list-header {
  color: black;
  padding-left: 0.5em;
}

.mat-small {
  min-width: 1%;
}
